@font-face {
    font-family: "space-mono";
    src: "./assets/space-mono.ttf";
}

:root {
    --accent-color: #382b26;
    --main-color: #b8c2b9;
}

* {
    font-weight: bold;
    font-family: "space-mono", monospace;
}

body {
    background-color: var(--main-color);
}

#ps {
    position: absolute;
    color: var(--accent-color);
    font-size: 10px;
    bottom: 0;
}

#main-container {
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 4vh;
    margin-top: 25vh;
}

#title-heading {
    background-color: var(--accent-color);
    color: var(--main-color);

    text-align: center;
    font-size: 40px;

    width: 208px;
    height: 48px;
    justify-self: center;
}

#link-input {
    border: 0;
    background-color: #fff;
    width: 25vw;
    color: var(--accent-color);
}

#link-input:focus {
    border-style: none;
    outline: none;
    box-shadow: none;
}

#controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

#controls-container #play {
    color: var(--accent-color);
    background-color: var(--main-color);
    width: 26px;
    height: 26px;
    border-radius: 1px;
    border-width: 0;
}

#controls-container #stop {
    color: var(--accent-color);
    background-color: var(--main-color);
    width: 26px;
    height: 26px;
    border-radius: 1px;
    border-width: 0;
}

#author {
    position: absolute;

    bottom: 0;
    right: 8px;

    color: var(--accent-color);
    font-size: 10px;
}
