@font-face {
    font-family: "space-mono";
    src: "./assets/space-mono.ttf";
}

* {
    font-weight: bold;
    font-family: "space-mono", monospace;
}

body {
    /*background-color: #D8CCFA;*/
    background-color: #ffffee;
}

#ps {
    position: absolute;
    color: darkseagreen;
    font-size: 10px;
    bottom: 0;
}

#main-container {
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 4vh;
    margin-top: 25vh;
}

#title-heading {
    background-color: darkseagreen;
    color: #ffffee;

    text-align: center;
    font-size: 40px;

    width: 208px;
    height: 48px;
    justify-self: center;
}

#link-input {
    border: 0;
    background-color: #fff;
    width: 25vw;
}

#link-input:focus {
    border-style: none;
    outline: none;
    box-shadow: none;
}

#controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

#controls-container #play {
    color: darkseagreen;
    background-color: #ffffee;
    width: 26px;
    height: 26px;
    border-radius: 1px;
    border-width: 0;
}

#controls-container #stop {
    color: darkseagreen;
    background-color: #ffffee;
    width: 26px;
    height: 26px;
    border-radius: 1px;
    border-width: 0;
}
